body {
    margin: 0;
    padding: 0;
    color: #273849;
    font-family: Arial;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    outline: 0;
}

header {
    height: 63px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 30px 10px 60px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 0 1px #797979;

    .logo {
        display: inline-block;
        font-size: 18px;
        line-height: 40px;
        font-weight: 500;
        margin-top: 3px;
        color: #273849;
        text-decoration: none;

        img {
            vertical-align: middle;
            margin-right: 6px;
            width: 40px;
            height: 40px;
        }
    }
}

.middle {
    position: fixed;
    top: 63px;
    right: 0;
    left: 0;
    height: calc(100vh - 63px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.branches-nav {
    width: 250px;
    border-right: 1px solid #e2e2e2;

    select {
        width: calc(100% - 20px);
        border: 1px solid #ccc;
        font-size: 18px;
        padding: 5px 10px;
        border-right: none;
    }

    /*    ::selection {
        color: red;
        background: yellow;
    }*/
}

main {
    width: calc(100% - 250px);
}

.rtl {
    .middle {
        direction: rtl;
        text-align: right;
    }

    .branches-nav {
        border-right: none;
        border-left: 1px solid #e2e2e2;

        select {
            border-right: 1px solid #ccc;
            border-left: none;
        }
    }
}

.top-options {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
}