<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="siteWatcherConfig" type="Common.ShadowCopy.Logic.SiteWatcherConfigSection, Common.ShadowCopy.Logic" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <siteWatcherConfig>
    <watchers>
      <add name="eGen.Pelephone.App"
           site="Default Web Site"
           waitBeforeUpdate="5"
           applicationPath="/ds"
           source="D:\Projects\ForesterCms\ForesterCms.App"
           sourceProj="D:\Projects\ForesterCms\ForesterCms.App\ForesterCms.App.csproj"
           folder1="D:\Projects\ForesterCms\ForesterCms.App\bin\iis\1"
           folder2="D:\Projects\ForesterCms\ForesterCms.App\bin\iis\2"
           currentFolder="D:\Projects\ForesterCms\ForesterCms.App\bin\iis\current"
           ignores=".tmp$,.CopyComplete$,~$,^bin\\,^obj\\"
           copyOnlys="^wwwroot\\?,^appsettings.json$"
           framework="netcoreapp5"
    publishArgs="" />
    </watchers>
  </siteWatcherConfig>
  
</configuration>