<div id="cms-container" vapp-module="cms">
    <div v-bind:class="{ rtl: lang.isRtl }" v-cloak>
        <header>
            <router-link class="logo" to="/ForesterCms/">
                <img src="images/cms/logo.png" alt="cms logo" />
                <span>Forester Cms</span>
            </router-link>
            <button v-on:click.prevent.stop="lang.isRtl = !lang.isRtl">
                {{ $root.getLang('Switch Direction') }}
            </button>
        </header>
        <div class="middle">
            <nav class="branches-nav">
                <cms-branches-nav ref="branchesNav"></cms-branches-nav>
            </nav>
            <main>
                <router-view></router-view>
            </main>
        </div>
    </div>
</div>
@section Scripts{
<script asp-append-version="true" src="@(Html.WebpackPath("cms.js"))"></script>
}