@{
    //CmsRouter.Data.PageModel.AddScripts(
    //    "cms/modules/branches-nav.js",
    //    "cms/modules/_container.js"
    //);
}

<div id="cms-container">
    <div v-bind:class="{ rtl: isRtl }" v-cloak>
        <header>
            <a class="logo" href="/">
                <img src="images/cms/logo.png" alt="cms logo" />
                <span>Forester Cms</span>
            </a>
        </header>
        <div class="middle">
            <nav class="branches-nav">
                <cms-branches-nav ref="branchesNav"></cms-branches-nav>
            </nav>
            <main>
                <router-view></router-view>
            </main>
        </div>
    </div>
</div>
@section Scripts{
<script asp-append-version="true" src="@(Html.WebpackPath("cms.js"))"></script>
}